# This files originate from the "New-Empty-Python-Project-Base" template:
#     https://github.com/Neuraxio/New-Empty-Python-Project-Base
# Created by Guillaume Chevalier at Neuraxio:
#     https://github.com/Neuraxio
#     https://github.com/guillaume-chevalier
# License: CC0-1.0 (Public Domain)

setuptools
pytest==4.3.1
pytest-cov==2.6.1
neuraxle
